@page "/poll"
<h3>Poll</h3>

<h4>Actieve poll</h4>

<h4>Nieuwe poll</h4>
<EditForm Model="NewPoll" OnSubmit="InitPoll">
    Question: <input @bind-value="NewPoll.Question"/>

    <ol>
        @foreach (var option in NewPoll.Options) {
            <li>
                Optie #@option.Id:
                <input @bind-value="option.Option"/>
            </li>
        }
    </ol>

    <button>Zet poll uit</button>
</EditForm>